@import '~antd/dist/antd.less';

.course-item-style {
  padding-left: 16px;
  margin-top: 8px;
  background: #f5f5f7;
  border-radius: 14px;
}

.pola-detail-page{
  background: #f5f5f7;
  border-radius: 14px;
  height: 600px;
}

.content-router{
  background: #ffffff;
  font-weight:bolder;
  overflow: auto;
}

.pola-title{
  font-size: large;
}

.pola-date-sub{
  color: #00000069;
  font-weight: lighter;
  text-align: center;
}
